# Extract Data from TMDB API into Spark DF
Load necessary libraries. We use requests to connect through API and pyspark to extract data into a dataframe

In [135]:
import requests
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, BooleanType, ArrayType, DoubleType, IntegerType

In [137]:
# Load data from API
url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc"
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMDBlYTAyNTNkMWQyN2U4MjdjMjBiOTFmYzYwMmVhYyIsIm5iZiI6MTcz" +
                    "MjU1NjY1MS43MjAxMTM1LCJzdWIiOiI2NzQ0YjRhN2NmZDI0YzNhN2FhYjlhMjkiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidm" + 
                    "Vyc2lvbiI6MX0.C7hMVCyhI98CrjSrYcWNXjS7xPe5JvpiUE7jyDDR6BY"
}
response = requests.get(url, headers=headers)
results = response.json()['results']
results[:3]

[{'adult': False,
  'backdrop_path': '/3V4kLQg0kSqPLctI5ziYWabAZYF.jpg',
  'genre_ids': [878, 28, 12],
  'id': 912649,
  'original_language': 'en',
  'original_title': 'Venom: The Last Dance',
  'overview': "Eddie and Venom are on the run. Hunted by both of their worlds and with the net closing in, the duo are forced into a devastating decision that will bring the curtains down on Venom and Eddie's last dance.",
  'popularity': 3752.76,
  'poster_path': '/aosm8NMQ3UyoBVpSxyimorCQykC.jpg',
  'release_date': '2024-10-22',
  'title': 'Venom: The Last Dance',
  'video': False,
  'vote_average': 6.491,
  'vote_count': 843},
 {'adult': False,
  'backdrop_path': '/iR79ciqhtaZ9BE7YFA1HpCHQgX4.jpg',
  'genre_ids': [27, 9648],
  'id': 1100782,
  'original_language': 'en',
  'original_title': 'Smile 2',
  'overview': 'About to embark on a new world tour, global pop sensation Skye Riley begins experiencing increasingly terrifying and inexplicable events. Overwhelmed by the escalating horrors and the pressures of fame, Skye is forced to face her dark past to regain control of her life before it spirals out of control.',
  'popularity': 2711.905,
  'poster_path': '/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg',
  'release_date': '2024-10-16',
  'title': 'Smile 2',
  'video': False,
  'vote_average': 6.9,
  'vote_count': 619},
 {'adult': False,
  'backdrop_path': '/v9acaWVVFdZT5yAU7J2QjwfhXyD.jpg',
  'genre_ids': [16, 878, 10751],
  'id': 1184918,
  'original_language': 'en',
  'original_title': 'The Wild Robot',
  'overview': "After a shipwreck, an intelligent robot called Roz is stranded on an uninhabited island. To survive the harsh environment, Roz bonds with the island's animals and cares for an orphaned baby goose.",
  'popularity': 2542.661,
  'poster_path': '/wTnV3PCVW5O92JMrFvvrRcV39RU.jpg',
  'release_date': '2024-09-12',
  'title': 'The Wild Robot',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 3084}]

In [121]:
# create spark df
spark = SparkSession.builder.appName("CreateTableDatabricks").getOrCreate()
rdd = spark.sparkContext.parallelize(results)

schema = StructType([
    StructField("adult", BooleanType(), True),
    StructField("backdrop_path", StringType(), True),
    StructField("genre_ids", ArrayType(IntegerType()), True),
    StructField("id", IntegerType(), True),
    StructField("original_language", StringType(), True),
    StructField("original_title", StringType(), True),
    StructField("overview", StringType(), True),
    StructField("popularity", DoubleType(), True),
    StructField("poster_path", StringType(), True),
    StructField("release_date", StringType(), True),
    StructField("title", StringType(), True),
    StructField("vote_average", DoubleType(), True),
    StructField("vote_count", IntegerType(), True)
])

spark_df = spark.createDataFrame(rdd, schema)

In [127]:
spark_df.select('original_title', 'popularity', 'vote_average', 'vote_count').show(10)

+--------------------+----------+------------+----------+
|      original_title|popularity|vote_average|vote_count|
+--------------------+----------+------------+----------+
|Venom: The Last D...|   3752.76|       6.491|       843|
|             Smile 2|  2711.905|         6.9|       619|
|      The Wild Robot|  2542.661|         8.5|      3084|
|        Gladiator II|  2139.537|         6.8|       668|
|         Terrifier 3|  2051.426|         6.9|      1084|
|Apocalipsis Z: el...|  1814.827|       6.745|       545|
|              Levels|  1634.969|       5.875|        20|
|              Wicked|  1485.249|         7.9|       164|
|Deadpool & Wolverine|  1423.522|       7.689|      5581|
|       The Substance|  1348.076|         7.3|      2181|
+--------------------+----------+------------+----------+
only showing top 10 rows

In [125]:
pd.DataFrame(results)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/3V4kLQg0kSqPLctI5ziYWabAZYF.jpg,"[878, 28, 12]",912649,en,Venom: The Last Dance,Eddie and Venom are on the run. Hunted by both...,3752.760,/aosm8NMQ3UyoBVpSxyimorCQykC.jpg,2024-10-22,Venom: The Last Dance,False,6.491,843
1,False,/iR79ciqhtaZ9BE7YFA1HpCHQgX4.jpg,"[27, 9648]",1100782,en,Smile 2,"About to embark on a new world tour, global po...",2711.905,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,2024-10-16,Smile 2,False,6.900,619
2,False,/v9acaWVVFdZT5yAU7J2QjwfhXyD.jpg,"[16, 878, 10751]",1184918,en,The Wild Robot,"After a shipwreck, an intelligent robot called...",2542.661,/wTnV3PCVW5O92JMrFvvrRcV39RU.jpg,2024-09-12,The Wild Robot,False,8.500,3084
3,False,/euYIwmwkmz95mnXvufEmbL6ovhZ.jpg,"[28, 12, 36]",558449,en,Gladiator II,Years after witnessing the death of the revere...,2139.537,/2cxhvwyEwRlysAmRH4iodkvo0z5.jpg,2024-11-13,Gladiator II,False,6.800,668
4,False,/18TSJF1WLA4CkymvVUcKDBwUJ9F.jpg,"[27, 53]",1034541,en,Terrifier 3,Five years after surviving Art the Clown's Hal...,2051.426,/chvYRyJI1fnBdf9Gt6RerJNEAav.jpg,2024-10-09,Terrifier 3,False,6.900,1084
5,False,/2fxnTXr8NwyTFkunkimJkGkhqfy.jpg,"[18, 28, 27]",1118031,es,Apocalipsis Z: el principio del fin,When a kind of rabies that transforms people i...,1814.827,/wIGJnIFQlESkC2rLpfA8EDHqk4g.jpg,2024-10-04,Apocalypse Z: The Beginning of the End,False,6.745,545
6,False,/kwXycPsLA6SV3KUOagn343TtMOf.jpg,"[28, 878, 53]",791042,en,Levels,"After witnessing his girlfriend's murder, a ma...",1634.969,/yq39ChrCDlqrurYuaC8WM0vC1cx.jpg,2024-11-01,Levels,False,5.875,20
7,False,/uVlUu174iiKhsUGqnOSy46eIIMU.jpg,"[18, 14, 10749]",402431,en,Wicked,"Elphaba, a young woman misunderstood because o...",1485.249,/c5Tqxeo1UpBvnAc3csUm7j3hlQl.jpg,2024-11-20,Wicked,False,7.900,164
8,False,/dvBCdCohwWbsP5qAaglOXagDMtk.jpg,"[28, 35, 878]",533535,en,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,1423.522,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,2024-07-24,Deadpool & Wolverine,False,7.689,5581
9,False,/7h6TqPB3ESmjuVbxCxAeB1c9OB1.jpg,"[18, 27, 878]",933260,en,The Substance,A fading celebrity decides to use a black mark...,1348.076,/lqoMzCcZYEFK729d6qzt349fB4o.jpg,2024-09-07,The Substance,False,7.300,2181
10,False,/uMXVeVL2v57lMv6pqBmegDHHPqz.jpg,"[16, 878, 12, 10751]",698687,en,Transformers One,The untold origin story of Optimus Prime and M...,1286.375,/qbkAqmmEIZfrCO8ZQAuIuVMlWoV.jpg,2024-09-11,Transformers One,False,8.100,767
11,False,/tElnmtQ6yz1PjN1kePNl8yMSb59.jpg,"[16, 12, 10751, 35]",1241982,en,Moana 2,After receiving an unexpected call from her wa...,1268.378,/m0SbwFNCa9epW1X60deLqTHiP7x.jpg,2024-11-27,Moana 2,False,8.400,15
12,False,/9SSEUrSqhljBMzRe4aBTh17rUaC.jpg,"[27, 878]",945961,en,Alien: Romulus,While scavenging the deep ends of a derelict s...,1265.317,/b33nnKl1GSFbao4l3fZDDqsMx0F.jpg,2024-08-13,Alien: Romulus,False,7.300,2409
13,False,/9msuazXGWAyl7vhxVFU7e7Bb5Ik.jpg,"[18, 10749]",179387,tl,Heavenly Touch,Jonard is having trouble making ends meet. His...,1090.057,/ory8WuAqznTE7lfopTSymHpop2t.jpg,2009-05-12,Heavenly Touch,False,6.500,22
14,False,/1FBHAQnq7Bs3djBmaNkfdVbnCUE.jpg,"[28, 53]",1124641,en,Classified,Operating alone in the field for more than 20 ...,1047.071,/3k8jv1kSAAc0rCfFGtWDDQL4dfK.jpg,2024-09-19,Classified,False,5.603,68
15,False,/rOmUuQEZfPXglwFs5ELLLUDKodL.jpg,"[28, 35, 14]",845781,en,Red One,After Santa Claus (codename: Red One) is kidna...,1046.567,/cdqLnri3NEGcmfnqwk2TSIYtddg.jpg,2024-10-31,Red One,False,6.626,163
16,False,/lgkPzcOSnTvjeMnuFzozRO5HHw1.jpg,"[16, 10751, 35, 28]",519182,en,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",995.400,/wWba3TaojhK7NdycRhoQpsG0FaH.jpg,2024-06-20,Despicable Me 4,False,7.079,2202
17,False,/2NPhBHfzhEmXl8csQ2dKmoxfj5e.jpg,"[80, 53, 28]",972614,en,Knox Goes Away,"A contract killer, after being diagnosed with ...",950.284,/w39qKYjltCix18BwtoZ1e45usdb.jpg,2024-03-15,Knox Goes Away,False,6.700,230
18,False,/9s9o9RT9Yj6nDuRJjnJm78WFoFl.jpg,"[28, 27, 53, 878]",1051896,en,Arcadian,"In the near future, on a decimated Earth, Paul...",931.581,/spWV1eRzlDxvai8LbxwAWR0Vst4.jpg,2024-04-12,Arcadian,False,6.100,452
19,False,/kyVcNF6GRthdiT4oZn5XgJtl0F7.jpg,"[28, 80]",1233327,te,మట్కా,"Set between the years 1958 and 1982, Matka tel...",851.795,/jrHIKDq9xvKJhYBDvYwmAfs8qvr.jpg,2024-11-14,Matka,False,0.000,0

# TODO: Load data into Databricks

I can think of two ways to do this. (1) We load the values comma-separated as payloads into Databricks (2) We load the spark dataframe into Databricks. This should be a good start for either method. If we choose (1) pandas might be more easier than pyspark.

In [ ]:
## Template to Load data into Databricks
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMDBlYTAyNTNkMWQyN2U4MjdjMjBiOTFmYzYwMmVhYyIsIm5iZiI6MTcz" +
                    "MjU1NjY1MS43MjAxMTM1LCJzdWIiOiI2NzQ0YjRhN2NmZDI0YzNhN2FhYjlhMjkiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidm" + 
                    "Vyc2lvbiI6MX0.C7hMVCyhI98CrjSrYcWNXjS7xPe5JvpiUE7jyDDR6BY"
}

num_pgs = response.json()['total_pages']
for i in range(num_pgs):
    url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&" +
          f"page={i+1}&sort_by=popularity.desc"
    response = requests.get(url, headers=headers)
    results = response.json()['results']
    # create spark df
    spark = SparkSession.builder.appName("CreateTableDatabricks").getOrCreate()
    rdd = spark.sparkContext.parallelize(results)

    schema = StructType([
        StructField("adult", BooleanType(), True),
        StructField("backdrop_path", StringType(), True),
        StructField("genre_ids", ArrayType(IntegerType()), True),
        StructField("id", IntegerType(), True),
        StructField("original_language", StringType(), True),
        StructField("original_title", StringType(), True),
        StructField("overview", StringType(), True),
        StructField("popularity", DoubleType(), True),
        StructField("poster_path", StringType(), True),
        StructField("release_date", StringType(), True),
        StructField("title", StringType(), True),
        StructField("vote_average", DoubleType(), True),
        StructField("vote_count", IntegerType(), True)
        ])

    spark_df = spark.createDataFrame(rdd, schema)
    # TODO: send each page of data to databricks incrementally